<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>softInstaller</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="styleeshet" href="images/favicon.ico">
	<link rel="stylesheet" href="/assets/bootstrap.css">
	<link rel="stylesheet" href="/assets/all.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">

	<%= render 'layouts/header' %>

	<section class="visual">
		<div class="container">
			<div class="text-block">
				<div class="heading-holder">
					<h1>softInstaller</h1>
				</div>
				<p class="tagline">Make your software installation process easier!</p>
			</div>
		</div>
		<img src="images/image_server.jpg" alt="" class="bg-stretch bg-img">
	</section>

	<section class="area">
		<div class="container">
			<div class="row">
				<div class="col-md-6">

					<ul class="visual-list">
						<li>
							<div class="img-holder">
								<img src="images/graph-01.svg" height="71" alt="">
							</div>
							<div class="text-holder">
								<h3>Designed to save your time</h3>
								<p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
							</div>
						</li>
						<li>
							<div class="img-holder">
								<img src="images/graph-04.svg" width="110" alt="">
							</div>
							<div class="text-holder">
								<h3>Easy to use</h3>
								<p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. </p>
							</div>
						</li>
					</ul>
				</div>

				<div class="col-md-6">
					<ul class="visual-list">
						<li>
							<div class="img-holder">
								<img class="pull-left" src="images/graph-03.svg" width="90" alt="">
							</div>
							<div class="text-holder">
								<h3>High processing speed</h3>
								<p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
							</div>
						</li>
						<li>
							<div class="img-holder">
								<img src="images/graph-02.svg" height="84" alt="">
							</div>
							<div class="text-holder">
								<h3>Experimental Features</h3>
								<p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="area-socials">
		<div class="visual-area">
			<div class="container">
				<h2>Our socials</h2>
				<ul class="cta-list">
					<li>
						<a href="#" class="btn btn-info"><i class="fa fa-twitter"></i> Twitter</a>
					</li>
					<li>
						<a href="#" class="btn btn-blue"><i class="fa fa-facebook"></i> Facebook</a>
					</li>
				</ul>	
			</div>
		</div>
	</section>

	<section class="visual-container">
		<div class="visual-area">
			<div class="container">
				<h2>Subscription Pricing</h2>
				<div class="pricing-tables">

					<div class="plan">
		                <div class="head">
		                    <h3>Free</h3>
		                </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">$</span>0</span>
		                    <span class="price-additional">per month</span>
		                </div>
		                <ul class="item-list">
		                    <li>30 GB Storage </li>
		                </ul>
		                <button type="button" class="btn btn-default rounded"><%= link_to "purchase", new_employee_registration_path %></button>
		            </div>

		            <div class="plan">
		                <div class="head">
		                    <h3>professional</h3> </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">$</span>4.99</span>
		                    <span class="price-additional">per month</span>
		                </div>
		                    <ul class="item-list">
		                       <li>100 GB Storage</li>
		                       <li>Email Support</li>
		                    </ul>
		                <button type="button" class="btn btn-default rounded"><%= link_to "purchase", new_employee_registration_path %></button>
		            </div>
		            <div class="plan recommended">
		                <div class="head">
		                    <h3>agency</h3> </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">$</span>1000</span>
		                    <span class="price-additional">per month</span>
		                </div>
		                    <ul class="item-list">
		                        <li>1 TB Storage</li>
		                        <li>Free hugs</li>
		                    </ul>
		                <button type="button" class="btn btn-default rounded"><%= link_to "purchase", new_employee_registration_path %></button>
		            </div>
		            <div class="plan">
		                <div class="head">
		                    <h3>company</h3> </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">$</span>79</span>
		                    <span class="price-additional">per month</span>
		                </div>
		                <ul class="item-list">
		                    <li>Unlimited Storage</li>
		                    <li>Free pizza</li>
		                </ul>
		                <button type="button" class="btn btn-default rounded"><%= link_to "purchase", new_employee_registration_path %></button>
		            </div>
				</div>
			</div>
			<img src="../images/img-decor-01.jpg" height="1175" width="1380" alt="" class="bg-stretch bg-img">
		</div>
	</section>
	<section class="area">
		<div class="container">
			<div class="subscribe">
				<h3>Subscribe to Our Mail Delivery</h3>
				<form class="form-inline">
					<button type="submit" class="btn btn-primary rounded">Subscribe</button>
					<div class="form-group">
						<input type="email" class="form-control rounded" id="exampleInputEmail2" placeholder="Email...">
					</div>
				</form>
			</div>
		</div>
	</section>
	<section class="main">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-md-6">
						<h3>New in Release</h3>
						<h4>Cross-browser compatibility</h4>
						<p>Morbi faucibus ante ipsum, a tincidunt libero posuere et. Etiam tempor tortor at odio condimentum, sit amet fringilla ligula maximus. Mauris venenatis nisl nisi, et dictum dui aliquet nec. Sed erat, nec aliquam vel, aliquam ac felis. </p>
						<h4>Mail delivery service </h4>
						<p>Nulla purus quam, pulvinar sed ante et, feugiat maximus velit. Donec eu elit mauris. </p>
						<h4>New Design</h4>
						<p>Proin id ligula eget massa tincidunt molestie. Morbi urna lectus, molestie vel quam vel, iaculis fermentum nunc. Morbi imperdiet, leo in interdum pretium.</p>
						<div class="btn-holder">
							<a href="#" class="btn btn-link">Go to Release Log</a>
						</div>
					</div>
					<div class="col-md-6">
						<h3>New From the Blog</h3>
						<h4><a href="#">Morbi imperdiet, leo in interdum pretium.</a></h4>
						<time class="date" datetime="2015-02-18">February 18, 2015</time>
						<h4><a href="#">Donec orci ante, porta vel nulla quis, aliquet hendrerit leo.</a></h4>
						<time class="date" datetime="2015-02-12">February 12, 2015</time>
						<h4><a href="#">Suspendisse egestas vulputate luctus.</a></h4>
						<time class="date" datetime="2015-02-06">February 6, 2015</time>
						<h4><a href="#">Quisque varius ante lorem, eget pretium purus hendrerit a egestas. </a></h4>
						<time class="date" datetime="2015-02-02">February 2, 2015</time>
						<h4><a href="#">Phasellus in augue risus. </a></h4>
						<time class="date" datetime="2015-01-23">January 23, 2015</time>
						<div class="btn-holder">
							<a href="#" class="btn btn-link">Go to Blog</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%= render 'layouts/footer' %>
	
</div>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.main.js"></script>
</body>
</html>