<%= render 'layouts/header' %>

<!--<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %> -->




<body background="./images/pattern2.jpg"> 
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content"> 
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Sign In</h4>
         </div>
          
            <div class="modal-body">
              
               <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                
               <div class="form-group"> 
                  <div class="col-xs-12">
                     <label for="InputEmail">Enter Email</label>
                     <div class="input-group">
                        <%= f.email_field :email, class: "form-control", placeholder: "Enter Email" %>
                     <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                     </div>
                     <br> 
                  </div>
               </div>
                     
               <div class="form-group">
                  <div class="col-xs-12">
                     <label for="InputPassword">Enter Password</label>
                     <div class="input-group">
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter Password" %>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                     </div>
                     <br> 
                  </div>   
               </div>

               <% if devise_mapping.rememberable? -%>
                  <div class="field">
                     <%= f.check_box :remember_me %>
                     <%= f.label :remember_me %>
                  </div>
               <% end -%>

               <div class="actions">
                  <%= f.submit "Log In" , class: "btn btn-success"%>
                  <br>
               </div>

               <div class="form-group">
                  <div style="font-size:85%">
                     Don't have an account? 
                     <%= link_to "Sign Up Here", new_employee_registration_path %>
               </div>

               <% end %>

               </div> 


              </div> 
          </div>
       </div>

<%= render 'layouts/footer' %>